* {
  font-family: FiraCode Nerd Font, sans-serif;
  font-size: 12px;
  font-weight: 500;
  min-height: 0;
  padding: 0px;
}

#waybar {
  background: rgba(17, 17, 17, 0.9);
  color: #c6d0f5;
}

#workspaces {
  margin-left: 2px;
}

#workspaces button {
  color: #babbf1;
  padding: 2px 0px 2px 0px;
  margin-right: 2px;
  border: none;
}

#workspaces button.active {
  color: #99D1DB;
}

#workspaces .urgent {
  color: #DE3C3C;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: transparent;
  border: 0px;
  border-top: 0px;
}

#pulseaudio,
#custom-music,
#network,
#cpu,
#memory,
#tray,
#custom-lock {
  margin: 0px 4px;
}

#window {
  padding-left: 6px;
  color: #666;
}

#network {
  font-size: 14px;
}

#clock {
  color: #8caaee;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}


#pulseaudio {
  color: #ea999c;
}

#custom-docker {
  color: #85c1dc;
}

#custom-music {
  color: #ca9ee6;
}

#custom-lock {
  color: #babbf1;
  margin-right: 10px;
}

